body{
	background-color:#F9F7F7 ;
}
.facettcolor{
    background-color:#fce4ec;
}
.img{
    width: 35px;
    height: 35px;
  }
  .coletteimg{
      border-radius: 50px;
  }

.gep{
    width: 70px;
    height: 45px ;
    position:relative; bottom: 0.7rem;
  }

a:hover { 
    text-decoration: none; 
} 

.slink {
  color: black;
}

.footer{
  background-color: #1c4149; 
}

.footer li {
  font-size: large;
}
